In [147]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [148]:
diab = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/Diabetes.csv")

In [149]:
diab.head()

,Number of times pregnant,Plasma glucose concentration,Diastolic blood pressure,Triceps skin fold thickness,2-Hour serum insulin,Body mass index,Diabetes pedigree function,Age (years),Class variable
0,6,148,72,35,0,33.6,0.627,50,YES
1,1,85,66,29,0,26.6,0.351,31,NO
2,8,183,64,0,0,23.3,0.672,32,YES
3,1,89,66,23,94,28.1,0.167,21,NO
4,0,137,40,35,168,43.1,2.288,33,YES

In [150]:
diab.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0    Number of times pregnant      768 non-null    int64
 1    Plasma glucose concentration  768 non-null    int64
 2    Diastolic blood pressure      768 non-null    int64
 3    Triceps skin fold thickness   768 non-null    int64
 4    2-Hour serum insulin          768 non-null    int64
 5    Body mass index               768 non-null    float64
 6    Diabetes pedigree function    768 non-null    float64
 7    Age (years)                   768 non-null    int64
 8    Class variable                768 non-null    object
dtypes: float64(2), int64(6), object(1)
memory usage: 54.1+ KB

In [151]:
diab = pd.DataFrame(diab)

In [152]:
diab.isnull().sum()

 Number of times pregnant        0
 Plasma glucose concentration    0
 Diastolic blood pressure        0
 Triceps skin fold thickness     0
 2-Hour serum insulin            0
 Body mass index                 0
 Diabetes pedigree function      0
 Age (years)                     0
 Class variable                  0
dtype: int64

In [153]:
diab.columns =['pregnant','plasma','BP','skinfold','serum','BMI','pedigree','age','class']

In [154]:
diab.columns

Index(['pregnant', 'plasma', 'BP', 'skinfold', 'serum', 'BMI', 'pedigree',
       'age', 'class'],
      dtype='object')

In [155]:
diab.head()

   pregnant  plasma  BP  skinfold  serum   BMI  pedigree  age class
0         6     148  72        35      0  33.6     0.627   50   YES
1         1      85  66        29      0  26.6     0.351   31    NO
2         8     183  64         0      0  23.3     0.672   32   YES
3         1      89  66        23     94  28.1     0.167   21    NO
4         0     137  40        35    168  43.1     2.288   33   YES

In [156]:
diab['class'].unique()

array(['YES', 'NO'], dtype=object)

In [157]:
diab['class'].value_counts()

NO     500
YES    268
Name: class, dtype: int64

In [195]:
diab['class'] = diab['class'].astype('category')

In [196]:
colnames=list(diab.columns)

In [197]:
predictors = colnames[:8]

In [198]:
predictors

['pregnant', 'plasma', 'BP', 'skinfold', 'serum', 'BMI', 'pedigree', 'age']

In [199]:
target = colnames[8]

In [200]:
target

'class'

In [201]:
from sklearn.model_selection import train_test_split

In [202]:
train,test = train_test_split(diab,test_size=0.2)

In [203]:
from sklearn.tree import DecisionTreeClassifier as DT

In [204]:
model = DT(criterion='entropy')

In [205]:
model.fit(train[predictors],train[target])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [206]:
pred = model.predict(test[predictors])

In [207]:
pd.crosstab(test[target],pred, rownames=['Actual'],colnames=['predictions'])

predictions  NO  YES
Actual
NO           88   18
YES          26   22

In [208]:
np.mean(test[target] == pred)

0.7142857142857143

In [209]:
pred_train = model.predict(train[predictors])

In [210]:
pd.crosstab(train[target],pred_train,rownames=['Actual'],colnames=['predictions'])

predictions   NO  YES
Actual
NO           394    0
YES            0  220

In [211]:
np.mean(pred_train == train[target])

1.0

In [212]:
#overfitting here so lets do  prunning ########

In [213]:
X = np.array(diab.iloc[:,:8]).astype(np.float)

In [215]:
from sklearn.preprocessing import LabelEncoder

In [217]:
#converting into binary
lb = LabelEncoder()
diab["class"] = lb.fit_transform(diab["class"])

In [218]:
Y =np.array(diab['class'])

In [219]:
Y

array([1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0,
       1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 1,
       1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0,
       1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0,
       1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0,
       0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0,
       0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0])

In [220]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)

In [221]:
from sklearn import tree

In [222]:
regtree = tree.DecisionTreeRegressor(max_depth=3)

In [223]:
regtree.fit(X_train,Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=3,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [229]:
test_pred = regtree.predict(X_test)

In [230]:
train_pred = regtree.predict(X_train)

In [231]:
from sklearn.metrics import mean_squared_error, r2_score

In [232]:
mean_squared_error(Y_test,test_pred)

0.19648241872713865

In [233]:
r2_score(Y_test,test_pred)

0.11293031743140669

In [234]:
mean_squared_error(Y_train,train_pred)

0.15429653791313114

In [235]:
r2_score(Y_train,train_pred)

0.32478406473553056

In [236]:
# Minimum observations at the internal node approach
regtree2 = tree.DecisionTreeRegressor(min_samples_split = 3)
regtree2.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=3,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [237]:
test_pred2 = regtree2.predict(X_test)

In [238]:
train_pred2 = regtree2.predict(X_train)

In [239]:
mean_squared_error(Y_test, test_pred2)

0.30357142857142855

In [240]:
r2_score(Y_test, test_pred2)

-0.3705501618122977

In [241]:
regtree3 = tree.DecisionTreeRegressor(min_samples_leaf = 3)
regtree3.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=3, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [242]:
test_pred3 = regtree3.predict(X_test)

In [243]:
train_pred3 = regtree3.predict(X_train)

In [244]:
mean_squared_error(Y_test, test_pred3)

0.2568614718614718

In [245]:
r2_score(Y_test, test_pred3)

-0.15966622247604523

In [246]:
mean_squared_error(Y_train, train_pred3)

0.048914223669924005

In [247]:
r2_score(Y_train, train_pred3)

0.7859468285567254

In [249]:
#####Random Forest########
from sklearn.ensemble import RandomForestClassifier

In [251]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [252]:
rf = RandomForestClassifier(n_jobs=2,n_estimators=15,criterion='entropy')

In [253]:
rf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=2,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [254]:
preds = rf.predict(X_test)

In [255]:
pd.crosstab(Y_test,preds,rownames=["Actual"], colnames=["Predictions"])

Predictions    0   1
Actual
0            135  22
1             32  42

In [256]:
from sklearn.metrics import accuracy_score

In [257]:
print(accuracy_score(Y_test,preds))

0.7662337662337663

In [258]:
test_acc2 = np.mean(rf.predict(X_test)==Y_test)

In [259]:
test_acc2

0.7662337662337663

In [260]:
train_acc2 = np.mean(rf.predict(X_train)==Y_train)

In [261]:
train_acc2

0.994413407821229