In [559]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

In [560]:
sale = pd.read_csv("C:/Users/anjum/Documents/Exelir workshop/Dataset/Company_Data.csv")

In [561]:
sale = pd.DataFrame(sale)

In [562]:
sale['Sales'] = sale['Sales'].apply(lambda x: 'No' if x <= 9 else 'Yes')

In [563]:
sale.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,Yes,138,73,11,276,120,Bad,42,17,Yes,Yes
1,Yes,111,48,16,260,83,Good,65,10,Yes,Yes
2,Yes,113,35,10,269,80,Medium,59,12,Yes,Yes
3,No,117,100,4,466,97,Medium,55,14,Yes,Yes
4,No,141,64,3,340,128,Bad,38,13,Yes,No

In [564]:
sale.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [565]:
sale['Sales'].unique()

array(['Yes', 'No'], dtype=object)

In [566]:
sale['Sales'].value_counts()

No     287
Yes    113
Name: Sales, dtype: int64

In [567]:
sale['Sales'] = sale['Sales'].astype('category')

In [568]:
sale['ShelveLoc'] = sale['ShelveLoc'].astype('category')

In [569]:
sale['Urban'] = sale['Urban'].astype('category')

In [570]:
sale['US'] = sale['US'].astype('category')

In [571]:
sale.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,Yes,138,73,11,276,120,Bad,42,17,Yes,Yes
1,Yes,111,48,16,260,83,Good,65,10,Yes,Yes
2,Yes,113,35,10,269,80,Medium,59,12,Yes,Yes
3,No,117,100,4,466,97,Medium,55,14,Yes,Yes
4,No,141,64,3,340,128,Bad,38,13,Yes,No

In [572]:
colnames = list(sale.columns)

In [573]:
colnames

['Sales',
 'CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [574]:
#converting into binary
lb = LabelEncoder()
sale["ShelveLoc"] = lb.fit_transform(sale["ShelveLoc"])
sale["Urban"] = lb.fit_transform(sale["Urban"])
sale["US"] = lb.fit_transform(sale["US"])

In [575]:
sale["Sales"] = lb.fit_transform(sale["Sales"])

In [576]:
sale.head()

,Sales,CompPrice,Income,Advertising,Population,Price,ShelveLoc,Age,Education,Urban,US
0,1,138,73,11,276,120,0,42,17,1,1
1,1,111,48,16,260,83,1,65,10,1,1
2,1,113,35,10,269,80,2,59,12,1,1
3,0,117,100,4,466,97,2,55,14,1,1
4,0,141,64,3,340,128,0,38,13,1,0

In [577]:
predictors = colnames[1:]

In [578]:
predictors

['CompPrice',
 'Income',
 'Advertising',
 'Population',
 'Price',
 'ShelveLoc',
 'Age',
 'Education',
 'Urban',
 'US']

In [579]:
target = colnames[0]

In [580]:
target

'Sales'

In [581]:
# Splitting data into training and testing data set
from sklearn.model_selection import train_test_split

In [582]:
train,test = train_test_split(sale,test_size=0.3)

In [583]:
from sklearn.tree import DecisionTreeClassifier as DT

In [584]:
model = DT(criterion='entropy')

In [585]:
model.fit(train[predictors], train[target])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [586]:
# Prediction on Test Data

In [587]:
preds = model.predict(test[predictors])

In [588]:
pd.crosstab(test[target], preds, rownames=['Actual'], colnames=['Predictions'])

Predictions   0   1
Actual
0            65  18
1            18  19

In [589]:
np.mean(preds == test[target]) # Test Data Accuracy

0.7

In [590]:
# Prediction on Train Data

In [591]:
preds_train =model.predict(train[predictors])

In [592]:
pd.crosstab(train[target],preds_train, rownames=['Actual'], colnames=['Predictions'])

Predictions    0   1
Actual
0            204   0
1              0  76

In [593]:
np.mean(preds_train == train[target])

1.0

In [594]:
#overfitting here so lets do pst prunning and random forest

In [595]:
####Pruning######

In [596]:
X = np.array(sale.iloc[:,1:])

In [597]:
Y= np.array(sale['Sales'])

In [598]:
Y

array([1, 1, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 1])

In [599]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size = 0.2)

In [600]:
from sklearn import tree

In [601]:
regtree = tree.DecisionTreeRegressor(max_depth=3)

In [602]:
regtree.fit(X_train,Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=3,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [603]:
test_pred = regtree.predict(X_test)

In [604]:
train_pred = regtree.predict(X_train)

In [605]:
# Measuring accuracy
from sklearn.metrics import mean_squared_error, r2_score

In [606]:
# Error on test dataset

In [607]:
mean_squared_error(Y_test,test_pred)

0.17441897079348462

In [608]:
r2_score(Y_test,test_pred)

0.2558123912811323

In [609]:
# Error on train dataset

In [610]:
mean_squared_error(Y_train,train_pred)

0.12466261331457784

In [611]:
r2_score(Y_train,train_pred)

0.35105222899635136

In [612]:
# Minimum observations at the internal node approach
regtree2 = tree.DecisionTreeRegressor(min_samples_split = 3)
regtree2.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=1, min_samples_split=3,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [613]:
# Prediction
test_pred2 = regtree2.predict(X_test)

In [614]:
train_pred2 = regtree2.predict(X_train)

In [615]:
# Error on test dataset
mean_squared_error(Y_test, test_pred2)

0.1875

In [616]:
r2_score(Y_test, test_pred2)

0.19999999999999996

In [617]:
# Error on train dataset
mean_squared_error(Y_train, train_pred2)

0.003125

In [618]:
r2_score(Y_train, train_pred2)

0.9837323979462153

In [619]:
###########
## Minimum observations at the leaf node approach

In [620]:
regtree3 = tree.DecisionTreeRegressor(min_samples_leaf = 3)
regtree3.fit(X_train, Y_train)

DecisionTreeRegressor(ccp_alpha=0.0, criterion='mse', max_depth=None,
                      max_features=None, max_leaf_nodes=None,
                      min_impurity_decrease=0.0, min_impurity_split=None,
                      min_samples_leaf=3, min_samples_split=2,
                      min_weight_fraction_leaf=0.0, presort='deprecated',
                      random_state=None, splitter='best')

In [621]:
# Prediction
test_pred3 = regtree3.predict(X_test)

In [622]:
train_pred3 = regtree3.predict(X_train)

In [623]:
# measure of error on test dataset
mean_squared_error(Y_test, test_pred3)

0.1741875

In [624]:
r2_score(Y_test, test_pred3)

0.25680000000000003

In [625]:
# measure of error on train dataset
mean_squared_error(Y_train, train_pred3)

0.042395833333333334

In [626]:
r2_score(Y_train, train_pred3)

0.7793028654703201

In [627]:
####RAndom Forest#########

In [628]:
X = np.array(sale.iloc[:,1:])

In [629]:
Y= np.array(sale['Sales'])

In [630]:
from sklearn.ensemble import RandomForestClassifier

In [631]:
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3)

In [632]:
rf = RandomForestClassifier(n_jobs=2,n_estimators=15,criterion='entropy')

In [633]:
rf.fit(X_train,Y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=15, n_jobs=2,
                       oob_score=False, random_state=None, verbose=0,
                       warm_start=False)

In [634]:
preds = rf.predict(X_test)

In [635]:
preds

array([0, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [636]:
pd.crosstab(Y_test,preds,rownames=["Actual"], colnames=["Predictions"])

Predictions   0   1
Actual
0            81   7
1            17  15

In [637]:
from sklearn.metrics import accuracy_score

In [638]:
print(accuracy_score(Y_test,preds))

0.8

In [639]:
test_acc2 = np.mean(rf.predict(X_test)==Y_test)

In [640]:
test_acc2

0.8

In [641]:
train_acc2 = np.mean(rf.predict(X_train)==Y_train)

In [642]:
train_acc2

1.0